@CHARSET "ISO-8859-1";
body 
{
	background-image: url("dark_background.png");
	text-align:center;
	
}

h1 
{
/* 	color:#ff66ff; */
color:#ccffcc;
	font-size:50px;
	text-align:center;
/*  	text-shadow:2px 2px #b3ffb3; */
 	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
 	margin-bottom: 0;
}

input.App {
	color:#FFF;
	background-color:#900;
	margin:auto;
	display:block;
	width:100%;
	height:125px;
	font-size:25px;
	text-align:center;
	opacity:.5;
	
}

h2 {
	color:#ccffcc;
	font-size:32px;
	text-align:center;
	
}
h2.sub {
	font-style:italic;
	margin-top: 0;
}
div.picture {
	
}
div.personal {
/*   	background-color:#bfbfbf; */
	text-align:left;
	width:auto;
} 
div.aboutMe {
/* 	text-align:center; */
	font-size:27px;
	background-color:white;
	opacity:.3;
	max-width: 1100px;;
	margin-left:auto;
	margin-right:auto;
	min-height: 300px;
	max-height: 500px;
	
}
div.aboutText {
	text-align:left;
	width:auto;
	max-width: 500px;
	position:relative;
	bottom:300px;
	left:70px;
	z-index:100px;
}
div.mypic {
	z-index:-100;
	position: relative;
	left:300px;
	min-height: 400px;
	top:90px;
}
img.resize {
	width: 100%;
	max-width: 1100px;
	height: auto;
	border-top:1px solid #a6a6a6;
	background-color:white;
 	opacity:.3;
 	display: block;
 	margin-left: auto;
 	margin-right:auto;
}
div.project {
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
    width: 250px;
    height: 125px;
    border: 3px solid #999999;
    text-align:center;
    vertical-align: top;
    font-size: 30px;
}
img.something {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}


div.icon {
	display:inline-block;
	width:100px;
	height:30px;
	border: 3px solid #999999;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
div.icons {
/* 	width:330px; */
/* 	height:75px; */
	margin: auto;
}
a.about,a.contact,a.projects,a.personal {
	color:#d1e0e0; 
	font-size:18px;
}

/* div.contact {
	font-size:22px;
	text-align:center;
	height:400px;
	width:60%;
 	background-color:#f2f2f2; 
 	opacity: .4;
 	margin:auto;
} */
div.projects {
	width:100%;
	height:140px;
	margin:auto;
	min-width: 1050px;
}
input.contactBut {
	height: 50px;
	width: 80px;
	font-size: 15px;
}
div.websiteInfo,div.freshInfo {
	max-width: 700px;
	background-color:white;
	position:fixed;
	text-align: center;
	bottom:40%;
 	right:31.77%; 
 	left:31.77%;
 	min-width:300px;
	z-index:100;
	font-size:22px;
	opacity:.7;
	color:#b30000;
}
 a.contactMe {
	 -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
     background-color: #4040bf;
     opacity: .6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size:25px;
}
div.emailSec {
	max-width: 700px;
	background-color:white;
	position:fixed;
	text-align: center;
	bottom:20%;
 	right:31.77%; 
 	left:31.77%;
 	min-width:300px;
	z-index:100;
	font-size:22px;
	opacity:.7;
	color:#4040bf;
}
